<h1><%= title %></h1>
<div class="content row">
<div id="searchBar" class="span10 offset3">
<h2>write something here:</h2>

<input type="text" id="search" autocomplete="off" class="xlarge"placeholder="Ex: blue" name="search"></input>
</div>
<div class="span16">
	<div style="display:none"class="offset5 span4" id="loading">loading...</div>
<div id="images">
	<% if (data!=""){%>
		<%- partial('partials/image', { collection: data }) %>
	<% }%>
</div>
<script src="javascripts/index.js" type="text/javascript"></script>
</div>
</div>