<h1 id="title"class="gigantic"><%= title %></h1>
<div class="content">
<div id="searchBar" class="">
<h2 class="huge">write something here:</h2>

<input type="text" id="search" autocomplete="off" placeholder="Ex: blue" name="search"></input>
</div>
<div class="">
	<div style="display:none"class="" id="loading">loading...</div>
<div id="images">
	<% if (data!=""){%>
		<%- partial('partials/image', { collection: data }) %>
	<% }%>
</div>
<script src="javascripts/index.js" type="text/javascript"></script>
</div>
<div id="footer">created by <a href="http://twitter.com/urcoilbisurco">@urcoilbisurco</a></div>
</div>